<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta name="author" content="Кайрат Тилеген">

    <title>{{ title }} - АВТОРАССЫЛКА BOTCORP.io</title>
    <meta property="og:title" content="{{ title }} - АВТОРАССЫЛКА BOTCORP.io">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://static.tildacdn.com/tild6638-6135-4732-b938-653062396435/555.ico">

    <!-- Bootstrap Core CSS -->
    <link href="{{ Config.APP_STATIC_URL }}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{{ Config.APP_STATIC_URL }}/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!--alerts CSS -->
    <link href="{{ Config.APP_STATIC_URL }}/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <!-- chartist CSS -->
    <link href="{{ Config.APP_STATIC_URL }}/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="{{ Config.APP_STATIC_URL }}/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="{{ Config.APP_STATIC_URL }}/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{{ Config.APP_STATIC_URL }}/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ Config.APP_STATIC_URL }}/material/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ Config.APP_STATIC_URL }}/material/css/notification.css" rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <link href="{{ Config.APP_STATIC_URL }}/material/css/colors/light-blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    <script src="{{ Config.APP_STATIC_URL }}/material/js/html5shiv.js"></script>
    <script src="{{ Config.APP_STATIC_URL }}/material/js/respond.min.js"></script>
    <!--[endif]-->

</head>
<body class="fix-header fix-sidebar card-no-border">

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->

<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="payment_status"></div>

<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            {% block body %}{% endblock %}

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <footer class="footer"> © 2019 Botcorp.io </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>


<script src="{{ Config.APP_STATIC_URL }}/assets/plugins/jquery/jquery.min.js"></script>
<script src="{{ Config.APP_STATIC_URL }}/material/js/script.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<!-- всплывающие подсказки popper-->
<script src="{{ Config.APP_STATIC_URL }}/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="{{ Config.APP_STATIC_URL }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ Config.APP_STATIC_URL }}/material/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="{{ Config.APP_STATIC_URL }}/material/js/waves.js"></script>
<!--Menu sidebar -->
<script src="{{ Config.APP_STATIC_URL }}/material/js/sidebarmenu.js"></script>
<!--stickey kit прикрепление элементов при прокрутке-->
<script src="{{ Config.APP_STATIC_URL }}/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="{{ Config.APP_STATIC_URL }}/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="{{ Config.APP_STATIC_URL }}/material/js/custom.min.js"></script>

<!-- ============================================================== -->
<!-- Style switcher переключатель стилей-->
<!-- ============================================================== -->
<script src="{{ Config.APP_STATIC_URL }}/assets/plugins/styleswitcher/jQuery.style.switcher.js" ddd="4555"></script>
<script src="{{ Config.APP_STATIC_URL }}/assets/plugins/toast-master/js/jquery.toast.js"></script>

<!-- Sweet-Alert  -->
<script src="{{ Config.APP_STATIC_URL }}/assets/plugins/sweetalert/sweetalert.min.js"></script>

<link href="{{ Config.APP_STATIC_URL }}/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">

<script>
    $(document).ready(function () {
        $.ajax({
            method: "get",
            url: "{{ Config.APP_URL }}/payment/status",
            success: function (e) {
                    if (e.status === 'ok') {
                        $('#payment_status').replaceWith(e.data.html);
                        var elemheight = $('.notification').css("height");
                        document.getElementsByClassName("topbar")[0].setAttribute("style","margin-top:"+elemheight);
                        document.getElementsByClassName("left-sidebar")[0].setAttribute("style","margin-top:"+elemheight);
                    }
                }
            });
        $(document).on('click', '.close_notific', function (e) {
            e.preventDefault();
            $(this).parent().remove();
            document.getElementsByClassName("topbar")[0].setAttribute("style","margin-top:0");
            document.getElementsByClassName("left-sidebar")[0].setAttribute("style","margin-top:0");
            $.ajax({
                method: "post",
                url: "{{ Config.APP_URL }}/payment/close_notific",
                success: function (e) {
                    if (e.status === 'ok') {
                        console.log('closed');
                    }
                }
            });
        });

        // unblock for 1 day
        $(document).on('click', '#blocked_account', function (e) {
            e.preventDefault();
            $.ajax({
                method: "post",
                // data: {companyId: undefined},
                url: "{{ Config.APP_URL }}/payment/unblock",
                success: function (e) {
                    if (e.status === 'ok') {
                        alert(e.msg);
                        location.reload();
                    } else if (e.status === 'error') {
                        alert(e.msg);
                        location.reload();
                    } else
                        alert("Системная ошибка!");
                }
            });

        });
    });
</script>
{% block jscode %}{% endblock %}

</body>
</html>