{% extends 'layout-auto-mailing.twig' %}

{% block body %}

  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <h3 class="text-themecolor">{{ title }}</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ Config.AUTO_MAILING_URL }}/mailing_queue">Запланированные Рассылки</a></li>
        <li class="breadcrumb-item"><a href="{{ Config.AUTO_MAILING_URL }}/series">Список Серии</a></li>
        <li class="breadcrumb-item active"><a href="{{ Config.AUTO_MAILING_URL }}/mailing?seriesId={{ seriesData._id }}">Список рассылок</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <form class="form add_connect" id="form_add_mailing">
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Серия </label>
                  <p><strong>[{{ seriesData.name }}]</strong></p>
                </div>

                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Введите название
                    Рассылки
                  </label>
                  <input class="form-control" type="text" value="{{ data.name }}"
                         name="name" required>
                </div>


                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Текст Рассылки</label>
                  <textarea style="resize: both;" class="form-control" type="text"
                            name="text" >{{ data.text }}</textarea>
                </div>

                  <div class="form-group row">
                    {% if data.file %}
                      <div class="col-sm-6 col-xs-6" id="file_preview">
                        <label for="input-file-now" class="col-form-label">
                          <a href="{{ data.file.url }}">{{ data.file.name }}</a>
                          <a data-toggle="tooltip" id="rm-file-btn" data-original-title="Удалить" href="#" class="btn btn-outline-danger"><i
                                    class="fa fa-times"></i>
                          </a>

                        </label><br>
                        <img src="{{ data.file.imageUrl }}" style="width: 100%;max-width: 300px;">
                      </div>
                    {% endif %}
                    <div class="col-sm-6 col-xs-6">
                      <label for="input-file-now" class="col-form-label">Загрузить ФАЙЛ</label>
                      <input type="file" name="fileUrl" class="dropify">
                    </div>
{#                    <div class="col-sm-6 col-xs-6 d-none">#}
{#                      <div class="imageBox">#}
{#                        <div class="thumbBox"></div>#}
{#                        <div class="spinner" style="display: none">Loading...</div>#}
{#                      </div>#}
{#                      <div class="action">#}
{#                        <input type="file" id="file" class="input-file">#}
{#                        <label for="file" class="btn btn-tertiary js-labelFile">#}
{#                          <i class="icon fa fa-check"></i>#}
{#                          <span class="js-fileName">Загрузить файл</span>#}
{#                        </label>#}
{#                        <!--<input type="button" id="btnCrop" value="Обрезать" style="float: right">-->#}
{#                        <button type="button" id="btnZoomIn" class="btn btn-default btn-sm"><i#}
{#                                  class="fa fa-search-plus" aria-hidden="true"></i></button>#}
{#                        <button type="button" id="btnZoomOut" class="btn btn-default btn-sm"><i#}
{#                                  class="fa fa-search-minus" aria-hidden="true"></i></button>#}
{#                      </div>#}
{#                      <div class="cropped">#}

{#                      </div>#}
{#                    </div>#}
                  </div>


                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">День рассылки после подписки</label>
                  <input type="number" value="{{ data.sendDay }}"
                         min="1" max="30" name="sendDay" required>
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Время рассылки</label>
                  <input type="time" name="sendTime"
                       min="00:00" max="23:59" value="{{ data.sendTime }}" required>
                </div>

                <div class="form-group">
                  <label for="example-datetime-local-input" class="col-12 col-form-label">Дата добавления</label>
                    <input class="form-control connectDate" type="text" value="{{ data.created_at|date("Y-m-d H:i") }}" readonly>
                </div>

                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Статус</label>
                    <div class="input-group">
                    <select class="form-control b-l-0 custom-select" name="status">
                        <option {% if data.status == '1' %} selected {% endif %} value="1">Активный</option>
                        <option {% if data.status == '0' %} selected {% endif %} value="0">Отключен</option>
                    </select>
                    </div>
                </div>

            <input type="hidden" name="id" value="{{ data._id }}">
            <input type="hidden" name="seriesId" value="{{ seriesData._id }}">
            <input type="hidden" name="userId" value="{{ seriesData.userId }}">
            <input type="hidden" name="companyId" value="{{ seriesData.companyId }}">
            <input type="hidden" id="rm-file" name="delete_file" value="">

            <input type="hidden" name="action" value="save">
            <button type="submit" class="btn btn-success" id="mailing_save">Сохранить</button>
          </form>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>


{% endblock %}

{% block jscode %}
  <script src="/widget/jquery.inputmask.bundle.js"></script>
  <script src="{{ Config.APP_STATIC_URL }}/assets/plugins/moment/moment.js"></script>
  <link
      href="{{ Config.APP_STATIC_URL }}/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
      rel="stylesheet">
  <script
      src="{{ Config.APP_STATIC_URL }}/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
  <link rel="stylesheet" href="{{ Config.APP_STATIC_URL }}/assets/plugins/dropify/dist/css/dropify.min.css">
  <script src="{{ Config.APP_STATIC_URL }}/assets/plugins/dropify/dist/js/dropify.min.js"></script>
  <script src="{{ Config.APP_STATIC_URL }}/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="{{ Config.APP_STATIC_URL }}/assets/plugins/jquery-validation/messages_ru.js"></script>
  <script src="/wp-content/themes/SendAPI/js/cropbox.js"></script>
  <script>
    $(document).ready(function () {

      // $('.created_at').bootstrapMaterialDatePicker({
      //   format: 'YYYY-MM-DD',
      //   lang: 'ru',
      //   switchOnClick: true,
      //   time: false
      // });

      // Basic
      $('.dropify').dropify();

      // Translated
      $('.dropify-fr').dropify({
        messages: {
          default: 'Glissez-déposez un fichier ici ou cliquez',
          replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
          remove: 'Supprimer',
          error: 'Désolé, le fichier trop volumineux'
        }
      });
      // Used events
      var drEvent = $('#input-file-events').dropify();

      drEvent.on('dropify.beforeClear', function (event, element) {
        return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
      });

      drEvent.on('dropify.afterClear', function (event, element) {
        alert('File deleted');
      });

      drEvent.on('dropify.errors', function (event, element) {
        console.log('Has Errors');
      });

      var drDestroy = $('#input-file-to-destroy').dropify();
      drDestroy = drDestroy.data('dropify');

      $('#rm-file-btn').on('click', function (e) {
        e.preventDefault();
        $('#file_preview').hide();
        $('input[name=delete_file]').val('1');
      });

      $("#form_add_mailing").validate({
        ignore: ":hidden",
        rules: {
          name: {
            required: true
          },
          text: {
            minlength: 10,
            maxlength: 1900
          }
        },
        errorElement: "em",
        errorPlacement: function (error, element) {
          // Add the `invalid-feedback` class to the error element
          error.addClass("invalid-feedback");

          if (element.prop("type") === "checkbox") {
            error.insertAfter(element.next("label"));
          } else {
            error.insertAfter(element);
          }
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).addClass("is-valid").removeClass("is-invalid");
        },
        submitHandler: function (form2) {

          var btn = $("#mailing_save");
          var cl_data = $('#form_add_mailing')[0];
          var data = new FormData(cl_data);
          $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "{{ Config.AUTO_MAILING_URL }}/mailing",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            dataType: 'json',
            beforeSend: function () {
              btn.button('loading');
            },
            success: function (data) {

              if (data.status !== 'ok') {
                swal({
                  title: "ОШИБКА!",
                  text: data.msg,
                  type: "error"
                });

                btn.button('reset');
                return;
              }
              swal({
                title: "УСПЕХ!",
                text: "Данные сохранены.",
                type: "success",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: false
              }, function () {
                if (data.url !== undefined)
                  window.location.href = data.url;
                else
                  swal.close();
              });

              btn.button('reset');

            },
            error: function (e) {

              swal({
                title: "ОШИБКА!",
                text: e.responseText,
                type: "error"
              });
              btn.button('reset');

            }
          });
          return false; // required to block normal submit since you used ajax
        }

      });

    });
  </script>
{% endblock %}
