{% extends 'layout-auto-mailing.twig' %}

{% block body %}

    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Рассылки</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ Config.AUTO_MAILING_URL }}/mailing_queue">Запланированные Рассылки</a></li>
                <li class="breadcrumb-item"><a href="{{ Config.AUTO_MAILING_URL }}/series">Список Серии</a></li>
                <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
            <div class="col-md-3 col-3 align-self-center">
                <div class="d-flex m-t-10 justify-content-end">
                    <div class="row">
                        {#          <div class="col-lg-6 col-md-6">#}
                        <a href="{{ Config.AUTO_MAILING_URL }}/mailing?action=add&seriesId={{ seriesId }}"
                           class="btn btn-block btn-info" data-toggle="tooltip" data-original-title="Добавить рассылку"><i
                                    class="ti-plus"></i></a>
                        {#          </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
{#        <div class="col-md-12">#}
{#            <div class="fl_bl_filter additional_data_sales">#}
{#                <div class="filter_dt">#}
{#                    <div class="dp_flex">#}
{#                       <div class="sales_page_filter_pay">#}
{#                <span data-time="all" class="sales_page_filter_act b-r b-today">Все</span>#}
{#                <span data-time="today" class="b-r">сегодня</span>#}
{#                <span data-time="week" class="b-r">неделя</span>#}
{#                <span data-time="month" class="b-r">месяц</span>#}
{#                <span data-time="year" class="b-r">год</span>#}
{#            </div>#}
{#                       <div class="date_bl_fl">#}
{#                <input class="form-control input-daterange-datepicker" type="text" name="daterange">#}
{#            </div>#}
{#                        <div class="date_bl_fl">#}
{#                            <select class="form-control custom-select workStatus">#}
{#                                <option value="all">Все</option>#}
{#                                <option value="1">Активен</option>#}
{#                                <option value="0">Отключен</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="col-12">

            <div class="table-responsive">
                <table id="myTable" class="" style="width: 100%;">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


{% endblock %}


{% block jscode %}
    <script src="{{ Config.APP_STATIC_URL }}/assets/plugins/moment/moment.js"></script>
    <script src="{{ Config.APP_STATIC_URL }}/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <link href="{{ Config.APP_STATIC_URL }}/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <script src="{{ Config.APP_STATIC_URL }}/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script>
      var params = {
        action: 'list',
        date: 'all',
        customDate: '',
        seriesId: '{{ seriesId }}'
      };

      function generateTable(e){
          var myTable = $('#myTable');
          if (e === undefined || e === 2){
              myTable.DataTable().destroy();
          }

          jQuery('#myTable').DataTable({
              "sDom": '<"H"lrf>t<"F"ip>',
              "language": {
                  "url": "/site/public/assets/plugins/datatables-plugins/i18n/Russian.json"
              },
              "ajax": {
                  type: 'GET',
                  url: '{{ Config.AUTO_MAILING_URL }}/mailing',
                  data: params
              },
              "processing": true,
              "serverSide": true,
              "columns": [
                  {"data": "data"},
              ]
          }).on( 'preDraw', function () {
              setTimeout(function () {
                  $('#myTable [data-toggle="tooltip"]').tooltip()
              }, 500);
          });
      }
      generateTable(1);

      $(document).ready(function () {

          $('.workStatus').on('change', function (e) {
              var val = $(e.target).val();
              params.status = val;
              generateTable(2);
          });

          $(".sales_page_filter_pay > .b-r").on('click', function (e) {
              var selected = $(this);
              var date = selected.attr('data-time');
              document.getElementsByClassName("sales_page_filter_act")[0].classList.remove("sales_page_filter_act");
              selected.addClass("sales_page_filter_act");
              params.date = date;
              console.log(params);
              generateTable(2);
          });

          // Daterange picker
          $('.input-daterange-datepicker').daterangepicker({
              buttonClasses: ['btn', 'btn-sm'],
              applyClass: 'btn-danger',
              cancelClass: 'btn-inverse',
              startDate: moment().format('DD.MM.YYYY'),
              endDate: moment().format('DD.MM.YYYY'),
              locale: {
                  format: 'DD.MM.YYYY'
              }
          }, function(start, end, label) {
              // console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
              params.date = 'custom';
              console.log('here');
              params.customDate = { start: start.format('YYYY-MM-DD') + " 00:00:00", end: end.format('YYYY-MM-DD')+" 23:59:59"};
              document.getElementsByClassName("sales_page_filter_act")[0].classList.remove("sales_page_filter_act");
              document.getElementsByClassName("input-daterange-datepicker")[0].classList.add("sales_page_filter_act");
              generateTable(2);
          });

      });

    </script>
{% endblock %}