<div class="card m-b-20">
  <div class="card-body clients_card">
  <span class="id_clients"> <span data-toggle="tooltip" data-original-title="ID рассылки">id {{ data._id }}</span></span>
    <p class="titl_comp">{{ data.name }} {{ data.statusHtml }}</p>
    <div class="clients_group_elm">
      <p data-toggle="tooltip" data-original-title="Номер">{{ data.lId }}</p>
        <p data-toggle="tooltip"
           data-original-title="День отправки">{{ data.sendDay }}
        </p>
        <p data-toggle="tooltip"
           data-original-title="Время отправки">{{ data.sendTime }}
        </p>
        <p data-toggle="tooltip"
           data-original-title="Дата добавления">{{ data.created_at|date("Y-m-d H:i") }}
        </p>

        <div class="button_g">

        <a data-toggle="tooltip" data-original-title="Редактировать"
           href="{{ Config.AUTO_MAILING_URL }}/mailing?action=edit&id={{ data._id }}" class="btn btn-outline-success">
            <i class="fa fa-pencil"></i></a>
        <a data-toggle="tooltip" data-original-title="Взять в работу"
           href="" class="btn btn-outline-success d-none">
          <i class="fa fa-gear"></i></a>
        <a data-toggle="tooltip" data-original-title="Отменить" href="#" class="btn btn-outline-danger d-none"><i
              class="fa fa-times"></i></a>
      </div>

      <p class="btn_toggle collapsed" data-toggle="collapse" data-target="#collapse_{{ data._id }}"
         aria-expanded="false" aria-controls="collapse_{{ data._id }}"><i class="ti-angle-down"></i></p>

    </div>
    <div class="collapse wrap_block_accord" id="collapse_{{ data._id }}">
        <div class="one_bl_ac">
          <p class="titl_ac">Текст Рассылки</p>
          <p class="text_ac">{{ data.text }}</p>
        </div>
    </div>
  </div>
</div>